
*.db

*.opendb

*.ipch

.vs/AdvancedC\+\+-Exercises/v15/.suo

.vs/AdvancedC++-Exercises/v15/.suo

AdvancedC\+\+-Exercise1/x64/Debug/Advanced.8059C922.tlog/AdvancedC\+\+-Exercise1.lastbuildstate

AdvancedC\+\+-Exercise1/x64/Debug/Advanced.8059C922.tlog/CL.command.1.tlog

AdvancedC\+\+-Exercise1/x64/Debug/Advanced.8059C922.tlog/CL.read.1.tlog

AdvancedC\+\+-Exercise1/x64/Debug/Advanced.8059C922.tlog/CL.write.1.tlog

AdvancedC\+\+-Exercise1/x64/Debug/Advanced.8059C922.tlog/link.command.1.tlog

AdvancedC\+\+-Exercise1/x64/Debug/Advanced.8059C922.tlog/link.read.1.tlog

AdvancedC\+\+-Exercise1/x64/Debug/Advanced.8059C922.tlog/link.write.1.tlog

AdvancedC\+\+-Exercise1/x64/Debug/AdvancedC\+\+-Exercise1.log

AdvancedC\+\+-Exercise1/x64/Debug/BigInt.obj

AdvancedC\+\+-Exercise1/x64/Debug/main.obj

AdvancedC\+\+-Exercise1/x64/Debug/vc141.idb

AdvancedC\+\+-Exercise1/x64/Debug/vc141.pdb

x64/Debug/AdvancedC\+\+-Exercise1.exe

x64/Debug/AdvancedC\+\+-Exercise1.ilk

x64/Debug/AdvancedC\+\+-Exercise1.pdb

*.db-shm

*.db-wal

*.enc

*.lastbuildstate

*.tlog

*.log

*.obj

*.suo

AdvancedC\+\+Exercise2/x64/Debug/

x64/Debug/

AdvancedC++-Exercise2/x64/

AdvancedC++-Exercise3/x64

AdvancedC++-Exercise1.sln

